.container {
  min-height: calc(100vh - 112px);

  & * {
    font-family: "Cairo", sans-serif !important;
  }

  input {
    background-color: #fff !important;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
  }

  .start_contract_box {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 12px;

    @media (max-width: 600px) {
      padding-right: 0 !important;
      padding-top: 0 !important;
      padding-left: 0px;
    }
  }

  .end_contract_box {
    padding-top: 0 !important;
    padding-right: 12px;

    @media (max-width: 600px) {
      padding-right: 0 !important;
      padding-top: 24px !important;
    }
  }
}

.progressContainer {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;

  span {
    height: 2px !important;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 104px);
  }

  .progressContainer {
    top: 56px;
  }
}
